

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5em;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1 {
  font-size: 1.75rem;
  text-align: center;
  color: #f7f7f7;
  font-weight: bold;
  text-shadow: 1px;
  font-family: 'Raleway', sans-serif;
  text-shadow: .5px .5px rgba(0, 0, 0, 0.15);
}
h2 {
  font-size: 1.25rem;
  text-align: center;
  color: #f7f7f7;
  text-shadow: 1px;
  font-family: 'Raleway', sans-serif;
  text-shadow: .5px .5px rgba(0, 0, 0, 0.15);
}
p {
  font-family: 'Open Sans', sans-serif;
}

header, footer {
  margin: 0;
  padding: 2rem;
  width: 100%;
  min-height: 140px;
  background: #8ec6de; /* Old Browsers */
  background: -webkit-radial-gradient(top right,#8ec6de,#9e8ede); /*Safari 5.1-6*/
  background: -o-radial-gradient(top right,#8ec6de,#9e8ede); /*Opera 11.1-12*/
  background: -moz-radial-gradient(top right,#8ec6de,#9e8ede); /*Fx 3.6-15*/
  background: radial-gradient(top right, #8ec6de, #9e8ede); /*Standard*/
}
header {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, .5);
}
main {
  min-height: 25vh;
}
footer {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 0;
  box-shadow: 0 -5px 5px 5px rgba(0, 0, 0, .4);
}
.footer-blurb {
  background-color: rgba(77, 51, 77, .2);
  padding: 1rem;
  width: 40vw;
}
.footer-blurb p {
  color: rgba(255, 255, 255, .7);
  text-align: center;
  font-weight: 500;
}
.footer-blurb p a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-blurb p a:hover {
  color: rgba(255, 255, 255, 1);
}
